fastapi
uvicorn
pydantic
python-multipart
requests
pymilvus
pypdf
reportlab
langchain-ollama
langchain-core
langgraph
easyocr
python-dotenv
opencv-python
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

langchain-openai
langchain-text-splitters
sqlalchemy
passlib[bcrypt]
pyjwt
httpx
openai
google-cloud-discoveryengine
itsdangerous
starlette
psycopg2-binary
bcrypt
beautifulsoup4
