# Orchestrator Local Environment Override
DATABASE_URL=
REDIS_URL=
SECRET_KEY=

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=

# OpenAI (primary LLM)
OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
GOOGLE_MAPS_API_KEY=
ANTHROPIC_API_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_JWT_ISSUER=
CLERK_JWT_KEY=
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7lZXRsGouugGf7HujiTQ
C7YZ1Bph20dKDlTKLdwPsO1lHjm3AaStptxF/7Lc9okERiuQZ5RiFTbiD7K7wP2y
c/tQlo4VTDT+fKM9y2UtqkspChjMLm/3Nasxyu9B21EPz3oJB22Ea1XXnDpR7Ty2
nXhFwVeA2AvQKHqN9MU/Gi1/GElXzmjQ/9089jPCate2mkafA3CWM/ZTyi66dGK9
rdAEtKchxOPhPasoibMocmDGzVdxqga2FM98S4+hs00LRF/x3dEg4gnFRH/ZylzS
MDYv5pJzzxF56SwbnimPsdlLodqe6mG/vFnzK6idYR5qwQtJV4uM2WtWJCta2doO
CQIDAQAB
-----END PUBLIC KEY-----"
ALLOWED_ORIGINS=
UPLOAD_DIR=
REPORT_OUTPUT_DIR=
